<div class="list-posts">
  <article class="cards-posts">
  <ul class="list-posts__author__info">
    <%= render partial: "users/shared/user", locals: {user: @user} %>
  </ul>
  <div class="post-section">
    <% @user.posts.each do |post| %>
      <%= render partial: "posts/shared/post", locals: {post: post} %>
      <ul>
      <%if post.last_five_comment.empty?%>
      <li>
        No Comments
      </li>
      <%else%>
        <%= render partial: "posts/shared/comment", locals: {comments: post.last_five_comment} %>
      <%end%>
      </ul>
    <% end %>
  </div>
  </article>
</div>
